@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Nunito+Sans:ital,wght@0,300;0,600;1,700&display=swap");
/**************
GLOBAL
**************/
/**************
FLEX
**************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #233785;
  transition: color 0.4s ease;
}

.container {
  width: 70%;
  /* margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; */
  /* margin:0 auto 0 auto; */
  margin: 0 auto;
}

.py {
  padding: 140px 0;
}

.btn {
  display: inline-block;
  background-color: #233785;
  color: #ffffff;
  padding: 1em 2.5em;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.4s ease;
  border-radius: 5px;
}

.btn.btnLight {
  background-color: #ffffff;
  color: #000;
}

.btn:hover {
  color: #ffffff;
  background-color: #020a2a;
}

.title-section {
  text-align: center;
}

.title-section h2 {
  text-transform: uppercase;
  font-size: 2rem;
}

.title-section h2::after {
  content: "";
  display: block;
  height: 5px;
  width: 70px;
  background-color: #233785;
  margin: 10px auto;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #808080;
}

.card-body {
  flex: 1;
  width: 100%;
  padding: 10px;
}

.card-body h6 {
  line-height: 2rem;
  font-size: 1.1rem;
}

.card-body .btn {
  margin-top: 20px;
}

.card img {
  width: 100%;
}

/**************
top-bar
**************/
.topBar {
  background-color: #233785;
  color: #ffffff;
  padding: 10px 0;
  text-align: right;
}

.topBar ul li {
  display: inline-block;
  border-right: 1px solid #ffffff;
  margin-right: 10px;
  padding-right: 10px;
  font-size: 0.8rem;
}

.topBar ul li:last-child {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}

.topBar i {
  margin-right: 10px;
}

/**************
navbar
**************/
nav {
  padding: 10px 0;
}

nav article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav .navbar li {
  display: inline-block;
  margin-left: 30px;
  font-weight: 700;
  color: #808080;
}

nav .navbar li i {
  margin-left: 30px;
}

nav .navbar .drop {
  position: relative;
  cursor: pointer;
}

nav .navbar .drop:hover > ul {
  transform: scale(1);
}

nav .navbar .drop span::after {
  content: "\f0d7";
  font-family: "Font Awesome 5 Free";
  font-weight: 900px;
  margin-left: 5px;
}

nav .navbar .drop ul {
  transform: scale(0);
  transform-origin: left top;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  padding: 0 10px 10px;
  min-width: 150px;
  z-index: 2;
  transition: transform 0.4s ease;
}

nav .navbar .drop ul li {
  width: 100%;
  padding: 10px;
  margin: 0;
}

/**************
header
**************/
header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 60vh;
}

header img {
  position: absolute;
  /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

header article {
  color: #ffffff;
  z-index: 2;
}

header h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 3rem;
}

header article div {
  text-align: center;
  margin-top: 20px;
}

header .btn:first-child {
  margin-right: 10px;
}

/**************
services 
**************/
.services {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.services article {
  position: relative;
  flex: 0 0 32%;
  overflow: hidden;
  cursor: pointer;
}

.services article:hover h3 {
  transform: translateY(100%);
}

.services article:hover div {
  transform: translateY(-100%);
}

.services article h3 {
  position: absolute;
  bottom: 0;
  background-color: rgba(35, 55, 133, 0.8);
  width: 100%;
  color: #ffffff;
  padding: 5px;
  font-size: 1.3rem;
  text-transform: uppercase;
  transition: transform 0.4s ease;
}

.services img {
  display: block;
  width: 100%;
  height: 100%;
}

.services div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  background-color: rgba(35, 55, 133, 0.8);
  color: #ffffff;
  top: 100%;
  height: 100%;
  padding: 10px;
  transition: transform 0.4s ease;
}

.services div p {
  flex: 1;
}

/**************
features
**************/
.features {
  background-color: #f2f2f2;
}

.features article:not(:first-child) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 60px;
}

.features article:not(:first-child) .wrapper {
  flex: 0 0 23%;
  min-width: 200px;
  background-color: #ffffff;
  border: 1px solid #808080;
  border-radius: 5px;
  padding: 0 20px 20px;
  text-align: center;
}

.features article:not(:first-child) h6 {
  font-size: 1.2rem;
}

.features article:not(:first-child) p {
  margin-top: 10px;
}

.features article:not(:first-child) .icon {
  display: block;
  font-size: 2rem;
  height: 2em;
  width: 2em;
  margin: 0 auto;
  color: #ffffff;
  position: relative;
  line-height: 2em;
  margin-top: -1em;
  margin-bottom: 30px;
}

.features article:not(:first-child) .icon::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #233785;
  inset: 0;
  border-radius: 10px;
  transform: rotate(45deg);
}

.features article:not(:first-child) .icon i {
  position: relative;
}

/**************
courses
**************/
.courses .wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 40px;
}

.courses .wrapper > .btn {
  margin: 0 auto;
}

.courses .wrapper .card {
  flex: 0 0 23%;
}

/**************
news
**************/
.news .wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 50px;
}

.news .wrapper .card {
  flex: 0 0 32%;
}

.news .wrapper .card h6 {
  font-size: 1.3rem;
}

/**************
cta
**************/
.cta {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("img/testimonial-bg-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
}

.cta form {
  margin-top: 40px;
  text-align: center;
}

.cta form div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.cta form input {
  flex: 0 0 23%;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.cta form button {
  outline: transparent;
  border: transparent;
  margin: 30px 0 0;
  font-size: 1.2rem;
  cursor: pointer;
  letter-spacing: 1px;
}

/**************
map
**************/
.map {
  position: relative;
}

.map::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.map iframe {
  width: 100%;
}

/**************
footer
**************/
footer {
  background-color: #333333;
  color: #ffffff;
}

footer article {
  padding: 50px 0;
}

footer article:first-child {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

footer article:last-child {
  background-color: #000;
  text-align: center;
  padding: 30px 0;
}

footer article div:first-child {
  flex: 0 0 48%;
}

footer article div:first-child p {
  line-height: 2;
}

footer article div h3 {
  text-transform: uppercase;
  margin-bottom: 40px;
}

footer article div img {
  margin-bottom: 20px;
}

footer article div li {
  line-height: 1.9;
}

/**************
single page
**************/
.single {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.single article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex: 1;
}

.single article h2 {
  text-transform: uppercase;
  font-size: 2rem;
  width: 100%;
  margin-bottom: 10px;
}

.single article iframe {
  height: 450px;
  margin: 20px 0;
}

.single article p {
  margin: 20px 0;
  line-height: 1.7;
}

.single article ul {
  margin-bottom: 20px;
}

.single article ul li {
  line-height: 1.7;
}

.single article ul li::before {
  content: "\f0a4";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #233785;
  margin-right: 5px;
}

.single article .feature {
  border-left: 5px solid #808080;
  padding: 30px 0 30px 30px;
}

.single article .card {
  flex: 0 0 48%;
  margin-bottom: 30px;
}

.single aside {
  flex: 0 0 25%;
  margin-left: 30px;
}

.single .categories h3 {
  text-transform: uppercase;
}

.single .categories ul {
  margin-top: 30px;
}

.single .categories ul li {
  line-height: 2.5;
  border-top: 1px solid #808080;
}

.single .categories ul li:last-child {
  border-bottom: 1px solid #808080;
}

/**************
intro
**************/
.intro {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.intro article {
  flex: 0 0 48%;
}

.intro article .title-section {
  text-align: left;
}

.intro article .title-section h2::after {
  margin: 10px 0;
}

.intro article ul {
  margin-top: 20px;
}

.intro article ul li {
  line-height: 1.7;
}

.intro article ul li::before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #233785;
  margin-right: 5px;
}
