@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Nunito+Sans:ital,wght@0,300;0,600;1,700&display=swap");

/**************
GLOBAL
**************/
:root {
  --textFont: "Montserrat", sans-serif;
  --headingsFont: "Nunito Sans", sans-serif;
  --primary: #233785;
  --darkPrimary: #020a2a;
  --white: #ffffff;
  --black: #000;
  --gray: #808080;
  --transition: 0.4s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--textFont);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--black);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--primary);
  transition: color var(--transition);
}

.container {
  width: 70%;
  /* margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; */
  /* margin:0 auto 0 auto; */
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background-color: var(--primary);
  color: var(--white);
  padding: 1em 2.5em;
  text-transform: uppercase;
  font-weight: 700;
  transition: var(--transition);
  border-radius: 5px;
}
.btn.btnLight {
  background-color: var(--white);
  color: var(--black);
}
.btn:hover {
  color: var(--white);
  background-color: var(--darkPrimary);
}

/**************
top-bar
**************/
.topBar {
  background-color: var(--primary);
  color: var(--white);
  padding: 10px 0;
  text-align: right;
}

.topBar ul li {
  display: inline-block;
  border-right: 1px solid var(--white);
  margin-right: 10px;
  padding-right: 10px;
  font-size: 0.8rem;
}
.topBar li:last-child {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}

.topBar i {
  margin-right: 10px;
}

/**************
navbar
**************/
nav {
  padding: 10px 0;
}

nav article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav .navbar li {
  display: inline-block;
  margin-left: 30px;
  font-weight: 700;
  color: var(--gray);
}
nav .navbar li i {
  margin-left: 30px;
}

/**************
header
**************/
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

header img {
  position: absolute;
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  inset: 0;

  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}
header article {
  color: var(--white);
  z-index: 2;
}

header h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 3rem;
}
header article div {
  text-align: center;
  margin-top: 20px;
}

header .btn:first-child {
  margin-right: 10px;
}
