@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Nunito+Sans:ital,wght@0,300;0,600;1,700&display=swap");

/**************
GLOBAL
**************/

$textFont: "Montserrat", sans-serif;
$headingsFont: "Nunito Sans", sans-serif;
$primary: #233785;
$darkPrimary: #020a2a;
$white: #ffffff;
$black: #000;
$gray: #808080;
$lightGray: #f2f2f2;
$darkGray: #333333;
$transition: 0.4s ease;
